body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header .subtitle {
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5rem 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #f00;
}

section {
    padding: 2rem;
    text-align: center;
    background-color: #a9a9a9; /* Much darker gray background for content sections */
    border: 2px solid #f00; /* Red border for the content sections */
}

.assignment, .note {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
}

iframe {
